@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");
/*----------ОБНУЛЕНИЕ------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------------*/
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #72787d;
}

@media (max-width: 950px) {
  body.lock {
    overflow: hidden;
  }
}

a {
  color: white;
}

._container {
  max-width: 1057px;
  margin: 0px auto;
}

@media (max-width: 1097px) {
  ._container {
    padding: 0 15px;
  }
}

@media (max-width: 321px) {
  ._container {
    padding: 0 10px;
    margin: 0;
  }
}

.section-title__row {
  text-align: center;
}

.section-title__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #212b31;
  font-size: 32px;
  line-height: 150%;
  margin: 0px auto 16px auto;
}

@media (max-width: 1024px) {
  .section-title__title {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .section-title__title {
    font-size: 24px;
  }
}

@media (max-width: 475px) {
  .section-title__title {
    font-size: 20px;
  }
}

.section-title__subtitle {
  font-size: 20px;
}

@media (max-width: 768px) {
  .section-title__subtitle {
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .section-title__subtitle {
    text-align: left;
  }
}

@media (max-width: 475px) {
  .section-title__subtitle {
    font-size: 16px;
  }
}

.cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards .cards__card, .cards--grid .cards__card, .cards--3 .cards__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

@media screen and (max-width: 819px) {
  .cards .cards__card, .cards--grid .cards__card, .cards--3 .cards__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 540px) {
  .cards .cards__card, .cards--grid .cards__card, .cards--3 .cards__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media screen and (max-width: 819px) {
  .cards--3 .cards__card:last-child {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 1 100% !important;
            flex: 0 1 100% !important;
  }
}

.cards--vertical .cards__row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards--grid .cards__card, .cards--vertical .cards__card {
  margin-bottom: 33px;
}

.cards--grid, .cards--vertical {
  margin: 0px 0px -33px 0px;
}

.cards--grid .card, .cards--vertical .card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
}

.cards--grid .card__icon, .cards--vertical .card__icon {
  margin: 0px 16px 0px 0px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.card__icon {
  margin: 0px 0px 20px 0px;
}

.card__icon img {
  max-width: 48px;
  max-height: 48px;
}

@media (max-width: 425px) {
  .card__icon img {
    max-width: 36px;
    max-height: 36px;
  }
}

@media (max-width: 768px) {
  .card__icon {
    margin: 0px 0px 10px 0px;
  }
}

.card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__title {
  color: #212b31;
  font-size: 18px;
  margin: 0px 0px 10px 0px;
}

@media screen and (max-width: 768px) {
  .card__title {
    margin: 0px 0px 7px 0px;
  }
}

@media (max-width: 768px) {
  .card__description {
    text-align: left;
  }
}

.buttons {
  font-size: 17px;
}

@media (max-width: 425px) {
  .buttons {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .buttons {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .buttons {
    font-size: 13px;
  }
}

.buttons__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 425px) {
  .buttons__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .buttons__column {
    width: 100%;
  }
}

.buttons__column:nth-child(2) {
  margin: 0px 0px 0px 16px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .buttons__column:nth-child(2) {
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  .buttons__column:nth-child(2) {
    margin: 10px 0px 0px 0px;
  }
}

@media (max-width: 320px) {
  .buttons__column:nth-child(2) {
    font-size: 14px;
  }
}

.buttons__button {
  padding: 13px 25px;
  border-radius: 4px;
}

@media (max-width: 1024px) {
  .buttons__button {
    padding: 8px 20px;
  }
}

@media (max-width: 425px) {
  .buttons__button {
    text-align: center;
  }
}

@media (max-width: 375px) {
  .buttons__button {
    padding: 6px 17px;
  }
}

.buttons__button--black {
  border: 1px solid #212b31;
  background-color: #212b31;
}

.buttons__button--grey-stroke {
  border: 1px solid #dadedf;
  color: #fff;
}

.buttons__button--white {
  background-color: #fff;
  border: 1px solid #dadedf;
}

.buttons__button--white a {
  color: #212b31;
}

.header {
  width: 100%;
  padding: 0 31px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

@media (max-width: 1200px) {
  .header {
    padding: 0 10px;
  }
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 3;
}

.header__row {
  position: relative;
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 950px) {
  .header__row {
    height: 60px;
  }
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.header__icon {
  margin: 0px 8px 0px 0px;
  position: relative;
}

.header__logo-text {
  color: #212b31;
  font-size: 22px;
  line-height: auto;
  text-transform: uppercase;
}

@media (max-width: 950px) {
  .header__logo-text {
    font-size: 18px;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 950px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger::before, .header__burger::after {
    content: '';
    background-color: #212b31;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #212b31;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  .header__burger::after {
    bottom: 1px;
  }
  .header__burger--active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger--active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger--active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .7s ease-in-out 0s;
  transition: all .7s ease-in-out 0s;
}

@media (min-width: 951px) {
  .header__nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 950px) {
  .header__nav {
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: block;
    padding: 80px 10px 20px 10px;
    overflow: auto;
  }
  .header__nav--active {
    top: 0;
  }
}

.header__button {
  font-size: 15px;
  line-height: 106.66667%;
}

@media (max-width: 950px) {
  .header__button {
    display: none;
  }
}

.header__button .buttons__button {
  padding: 9px 20px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

@media (max-width: 950px) {
  .navigation {
    display: block;
  }
}

.navigation__item {
  margin: 0px 22px 0px 0px;
}

@media (max-width: 1200px) {
  .navigation__item {
    margin: 0px 15px 0px 0px;
  }
}

@media (max-width: 950px) {
  .navigation__item {
    margin: 0px 0px 20px 0px;
  }
}

.navigation__item a {
  color: #72787d;
}

@media (max-width: 950px) {
  .navigation__item a {
    text-transform: uppercase;
  }
}

.navigation__item--active a {
  color: #036fc7;
}

.buttons {
  z-index: 3;
}

.content {
  margin: 170px 0px 0px 0px;
}

@media (max-width: 950px) {
  .content {
    margin: 120px 0px 0px 0px;
  }
}

.main-screen {
  margin: 0px 0px 0px 0px;
}

.main-screen__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-screen__title {
  margin: 0px 0px 14px 0px;
  max-width: 820px;
}

.main-screen__title h1 {
  font-size: 48px;
  line-height: 133.33333%;
}

@media (max-width: 1024px) {
  .main-screen__title h1 {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .main-screen__title h1 {
    font-size: 32px;
  }
}

@media (max-width: 376px) {
  .main-screen__title h1 {
    font-size: 22px;
  }
}

.main-screen__buttons {
  margin: 0px 0px 70px 0px;
}

@media (max-width: 768px) {
  .main-screen__buttons {
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 425px) {
  .main-screen__buttons {
    margin: 0px 0px 35px 0px;
  }
}

@media (max-width: 375px) {
  .main-screen__buttons {
    margin: 0px 0px 20px 0px;
  }
}

.main-screen__image img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .main-screen__image img {
    width: 768px;
  }
}

.features-cards {
  margin: 140px 0px 0px 0px;
}

@media (max-width: 768px) {
  .features-cards {
    margin: 110px 0px 0px 0px;
  }
}

@media (max-width: 425px) {
  .features-cards {
    margin: 80px 0px 0px 0px;
  }
}

.facts {
  margin: 140px 0px 0px 0px;
}

.facts__title {
  margin: 0px 0px 40px 0px;
}

.facts__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facts__image img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .facts__image img {
    max-width: none;
  }
}

@media (max-width: 768px) {
  .facts__image {
    overflow: hidden;
  }
}

.slogan {
  margin: 140px 0px 0px 0px;
}

.slogan__row {
  max-width: 782px;
}

.help {
  margin: 140px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.help__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 882px) {
  .help__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.help__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 882px) {
  .help__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.help__image img {
  max-width: 100%;
}

.help-title h2,
.help-title .section-title__subtitle {
  text-align: left;
}

.help-text {
  margin: 28px 0px 0px 0px;
}

.help-text p {
  color: #212b31;
  font-size: 20px;
  line-height: 160%;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 768px) {
  .help-text p {
    font-size: 18px;
  }
}

.help-text p:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background-color: #ffc22d;
  z-index: -1;
}

@media (max-width: 882px) {
  .help-text p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 14px;
    background-color: #ffc22d;
    z-index: -1;
  }
}

.partners {
  margin: 70px 0px 0px 0px;
}

.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin: 0px auto 10px auto;
}

.partners__partner img {
  max-width: 100%;
}

@media (max-width: 1024px) {
  .partners__partner {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

@media (max-width: 800px) {
  .partners__partner {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }
}

@media (max-width: 650px) {
  .partners__partner {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 425px) {
  .partners__partner {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.about-us {
  margin: 75px 0px 0px 0px;
}

.about-us__content {
  margin: 28px 0px 0px 0px;
}

.about-us__punkt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 60px 64px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .about-us__punkt {
    margin: 0px 35px 50px 0px;
  }
}

@media (max-width: 882px) {
  .about-us__punkt {
    margin: 0px 10px 50px 0px;
  }
}

.about-us__punkt--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0px 0px 64px 60px;
}

@media (max-width: 1024px) {
  .about-us__punkt--reverse {
    margin: 0px 0px 50px 35px;
  }
}

@media (max-width: 882px) {
  .about-us__punkt--reverse {
    margin: 0px 0px 50px 10px;
  }
}

@media (max-width: 768px) {
  .about-us__punkt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 60px 0px;
  }
}

.punkt__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.punkt__title {
  color: #212b31;
  font-size: 18px;
  line-height: 133.33333%;
}

@media (max-width: 600px) {
  .punkt__title {
    font-size: 16px;
  }
}

.punkt__subtitle {
  margin: 19px 0px 0px 0px;
  font-size: 16px;
  line-height: 150%;
}

@media (max-width: 768px) {
  .punkt__subtitle {
    margin: 10px 0px 0px 0px;
  }
}

@media (max-width: 600px) {
  .punkt__subtitle {
    font-size: 14px;
  }
}

.delivery__header {
  max-width: 650px;
  margin: 0px auto;
}

.delivery__content {
  margin: 45px 0px 0px 0px;
}

.delivery__text {
  width: 100%;
  text-align: center;
  margin: 25px 0px 0px 0px;
}

.delivery__text p {
  font-size: 20px;
  line-height: 160%;
}

@media (max-width: 768px) {
  .delivery__text p {
    font-size: 18px;
  }
}

@media (max-width: 426px) {
  .delivery__text p {
    text-align: left;
  }
}

@media (max-width: 376px) {
  .delivery__text p {
    font-size: 16px;
  }
}

.delivery__text span {
  position: relative;
  color: #212b31;
}

.delivery__text span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 16px;
  bottom: -4px;
  left: 0;
  background-color: #ffc22d;
  z-index: -1;
}

.reliability {
  margin: 120px 0px 0px 0px;
}

.reliability__header h2 {
  position: relative;
}

.reliability__header h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 42px;
  height: 42px;
  top: -20px;
  right: -33px;
  background: url(../images/reliability/Vector.png) no-repeat;
}

.reliability__content {
  margin: 50px 0px 0px 0px;
}

.reliability__good {
  margin: 60px 0px 0px 0px;
}

@media (max-width: 768px) {
  .reliability__good {
    margin: 30px 0px 0px 0px;
  }
}

@media (max-width: 425px) {
  .reliability__good {
    margin: 10px 0px 0px 0px;
  }
}

.good {
  background-color: #dadedf;
  padding: 40px;
}

@media (max-width: 600px) {
  .good {
    padding: 20px;
    border-radius: 5px;
  }
}

.good__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .good__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.good__icon {
  margin: 0px 26px 0px 0px;
}

@media (max-width: 600px) {
  .good__icon {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 321px) {
  .good__icon {
    margin: 0px 0px 20px 0px;
  }
}

.good__text {
  font-size: 18px;
  line-height: 177.77778%;
  margin: 0px 60px 0px 0px;
}

.good__text span {
  color: #212b31;
}

@media (max-width: 768px) {
  .good__text {
    margin: 0px 40px 0px 0px;
  }
}

@media (max-width: 600px) {
  .good__text {
    text-align: center;
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 426px) {
  .good__text {
    text-align: left;
  }
}

@media (max-width: 375px) {
  .good__text {
    font-size: 16px;
  }
}

@media (max-width: 321px) {
  .good__text {
    margin: 0px 0px 20px 0px;
  }
}

.good__buttons .buttons__button {
  font-size: 18px;
  line-height: 133.33333%;
}

.steps {
  margin: 140px 0px 0px 0px;
}

.steps__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 540px) {
  .steps__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.steps__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.steps__column:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 540px) {
  .steps__column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.steps__title h2,
.steps__title .section-title__subtitle {
  text-align: left;
}

.steps__title h2 {
  margin: 0px 0px 16px 0px;
}

.steps__image {
  margin: 60px 0px 0px 0px;
}

.steps__list {
  margin: 0px 0px 30px 0px;
  counter-reset: custom-counter;
  padding-left: 50px;
}

.steps__step {
  counter-increment: custom-counter;
  position: relative;
}

.steps__step::before {
  content: counter(custom-counter);
  color: #72787d;
  border: 1px solid #dadedf;
  position: absolute;
  top: 3px;
  left: -50px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps__buttons {
  margin: -30px 0px 0px 0px;
}

.step {
  margin: 0px 0px 30px 0px;
}

.step__title {
  color: #212b31;
  font-size: 17px;
}

.step__description {
  margin: 10px 0px 0px 0px;
}

.why-us {
  margin: 100px 0px 0px 0px;
}

.why-us__content {
  margin: 60px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  .why-us__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.why-us__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 900px) {
  .why-us__cards {
    margin: 0px 0px 0px 0px;
  }
}

.why-us__quote {
  padding: 50px 70px;
}

@media (max-width: 768px) {
  .why-us__quote {
    padding: 40px 50px;
  }
}

@media (max-width: 425px) {
  .why-us__quote {
    padding: 30px 40px;
  }
}

@media (max-width: 375px) {
  .why-us__quote {
    padding: 15px 20px;
  }
}

.quote {
  background: url(../images/why-us/bcg.png) 45px 45px #f6f8f9 no-repeat;
}

.quote__text {
  font-size: 28px;
  line-height: 36px;
  color: #212b31;
}

@media (max-width: 600px) {
  .quote__text {
    font-size: 26px;
    line-height: 32px;
  }
}

@media (max-width: 425px) {
  .quote__text {
    font-size: 22px;
    line-height: 28px;
  }
}

@media (max-width: 375px) {
  .quote__text {
    font-size: 18px;
    line-height: 26px;
  }
}

.quote__author {
  margin: 28px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quote__author-image {
  width: 48px;
  height: 48px;
  margin: 0px 8px 0px 0px;
}

.quote__pagination {
  margin: 28px 0px 0px 0px;
}

.author-info__name {
  color: #212b31;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__span {
  display: block;
  width: 8px;
  height: 8px;
  background-color: rgba(3, 111, 199, 0.2);
  border-radius: 50%;
  margin: 0px 8px 0px 0px;
}

.pagination__span--active {
  background-color: #036fc7;
}

.rewards {
  margin: 120px 0px 0px 0px;
}

.rewards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rewards__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
}

@media (max-width: 850px) {
  .rewards__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    margin: 0px auto 40px auto;
  }
}

@media (max-width: 620px) {
  .rewards__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    margin: 0px 0px 40px 0px;
  }
}

@media (max-width: 440px) {
  .rewards__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.rewards__reward {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 850px) {
  .rewards__reward {
    min-height: 190px;
  }
}

@media (max-width: 620px) {
  .rewards__reward {
    min-height: 180px;
  }
}

@media (max-width: 440px) {
  .rewards__reward {
    min-height: 170px;
  }
}

.reward__description {
  text-align: center;
}

.contact-us {
  margin: 120px 0px 0px 0px;
}

@media (max-width: 768px) {
  .contact-us {
    margin: 80px 0px 0px 0px;
  }
}

@media (max-width: 425px) {
  .contact-us {
    margin: 50px 0px 0px 0px;
  }
}

@media (max-width: 320px) {
  .contact-us {
    margin: 30px 0px 0px 0px;
  }
}

.contact-us__row {
  min-height: 466px;
  background: url(../images/contact/background.png), #ffd042;
  padding: 120px 38px;
}

@media (max-width: 540px) {
  .contact-us__row {
    padding: 90px 38px;
    min-height: 400px;
  }
}

@media (max-width: 425px) {
  .contact-us__row {
    padding: 70px 10px;
    min-height: 360px;
  }
}

.contact-us__title h1 {
  font-size: 48px;
  line-height: 133.33333%;
}

@media (max-width: 768px) {
  .contact-us__title h1 {
    font-size: 42px;
  }
}

@media (max-width: 600px) {
  .contact-us__title h1 {
    font-size: 36px;
  }
}

@media (max-width: 540px) {
  .contact-us__title h1 {
    font-size: 32px;
  }
}

@media (max-width: 425px) {
  .contact-us__title h1 {
    font-size: 26px;
  }
}

@media (max-width: 320px) {
  .contact-us__title h1 {
    font-size: 24px;
  }
}

.contact-us__buttons {
  margin: 50px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */